/*events*/
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

/*events end*/

/*number design*/
.centered-number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; /* Adjust the height as needed */
    background-color: #f0f0f0; /* Adjust the background color as needed */
    position: relative; /* Enable positioning for child elements */
}

.number-display {
    font-size: 150px;
    font-weight: bold;
    color: black;
    position: relative; /* Enable top positioning */
    top: -100px; /* Adjust this value to move the number up or down */
}


/*next page*/
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background-color: #2ccdf5;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.pagination button:hover {
    background-color: #41d3ff;
    transform: scale(1.1);
}

.pagination button:active {
    background-color: #004080;
    transform: scale(1.05);
}

.service-item {
    overflow: hidden;
}

.service-img {
    position: relative;
    width: 100%;
    padding-top: 75%; /* Adjust this to control the aspect ratio */
}

.service-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.service-content {
    text-align: center;
}


/* control video size */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height:width ratio) */
    height: 0;
    overflow: hidden;
    max-width: auto; /* Ensure the video does not exceed container width */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}



#home-sec {
    position: relative;
}

.top-left-img {
    position: absolute;
    top: 0;
    left: 20px;
    width: 70px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.top-right-img {
    position: absolute;
    top: 0;
    right: 20px;
    width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

/*Gallery*/
.content-section img {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 10px;
}
/*** Spinner Start ***/
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#spinner img {
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-primary:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

.btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-light:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-primary);
    color: var(--bs-light) !important;
}

.btn-hover {
    transition: 0.5s;
}

.btn-hover:hover {
    color: var(--bs-secondary) !important;
}

/*** Section Title Start ***/
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
}


/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}


@media (max-width: 576px) {
    .topbar {
        display: none;    
    }
}
/*** Topbar End ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--bs-dark) !important;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 50px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: 30%;
        left: 50%;
        background: var(--bs-primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}
/*** Carousel Hero Header Start ***/
.header-carousel {
    position: relative; 
}

.header-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 150px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

@media (max-width: 576px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        top: 630px;
        transition: 0.5s;
    }

    .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
        width: 95% !important;
    }
 
}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 95px;
    display: block;
    object-fit: cover;
    transition: 0.5s;

}

@media (max-width: 992px) {
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        margin-top: 0;
        width: 100%;
        height: auto;
        object-fit: cover; /* Ensure the image covers the entire container */
    }

    /* Hide carousel items for small screens */
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        display: none;
    }
}

@media (min-width: 992px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin-top: 50px;
    }

    /* Ensure these elements are displayed for larger screens */
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        display: block;
    }
}


.header-carousel .header-carousel-item .carousel-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
}

.header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
    position: relative;
    width: 75%;
    
}
/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://ncasp.in/assets/uploads/media-uploader/nss1683532914.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 60px 0;
}

.bg-breadcrumb .breadcrumb-item a {
    color: var(--bs-white) !important;
}
/*** Single Page Hero Header End ***/


/*** Service Start ***/
.service .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2) ;
}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item .service-img::before {
    width: 100%;
    height: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
    z-index: 5;
    
}

.service .service-item:hover .service-img::before {
    height: 100%;
    background: rgba(21, 185, 217, .3);
}

.service .service-item .service-img:hover img {
    transform: scale(1.3);
}

.service .service-item .service-content {
    position: relative;
    z-index: 2;

}

.service .service-item .service-content::before {
    width: 100%;
    height: 8px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(21, 185, 217, .5);
    transition: 0.5s;
    z-index: 3;
}

.service .service-item:hover .service-content::before {
    background: rgba(21, 185, 217, .5);
    height: 100%;
}

.service .service-item .service-content .service-content-inner {
    transition: 0.5s;
}


.service .service-item:hover .service-content .service-content-inner {
    position: relative;
    color: var(--bs-white) !important;
    z-index: 9;
}
.service .service-item:hover .service-content .service-content-inner h5 {
    color: var(--bs-secondary);
}

/*** Service End ***/

/*** About Start ***/
.about .about-img {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
}

.about .about-img .about-img-inner {
    position: absolute;
    left: 0; 
    bottom: 0; 
    border: 10px solid; 
    border-color: var(--bs-white) var(--bs-white) var(--bs-white) var(--bs-white);
    border-radius: 50%;

}

.about .about-img .about-experience {
    position: absolute;
    top: 125px;
    left: -125px;
    transform: rotate(-90deg);
    background: transparent;
    color: var(--bs-primary);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}


/*** About End ***/

/*** Feature Start ***/
.feature .feature-item {
    position: relative;
    display: flex;
    border: 1px solid var(--bs-primary);
    border-radius: 10px;
    background: var(--bs-light);
    transition: 0.5s;

}

:root {
    --bs-primary: #007bff;
    --bs-white: #fff;
    --bs-dark: #343a40;
}

.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px; /* Adjust the height as needed */
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    position: relative; /* Added for positioning ::before pseudo-element */
    overflow: hidden; /* Ensure hover effect doesn't overflow */
    transition: 0.5s;
}

.feature-item::before {
    width: 0;
    height: 100%; /* Use 100% to ensure it covers the entire item height */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.5s;
    background: rgba(21, 185, 217, 0.3); /* Updated hover color */
}

.feature-item:hover::before {
    width: 100%;
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    z-index: 1; /* Ensures icon stays above the ::before background */
}

.feature-item:hover .feature-icon {
    position: relative;
    z-index: 2;
}

.feature-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 1; /* Ensures content stays above the ::before background */
    color: inherit; /* Ensures initial color inheritance */
}

.feature-item:hover .feature-content {
    color: var(--bs-white);
    z-index: 2;
}
/*** Feature End ***/


/*** Appointment Start ***/
.appointment {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(https://ncasp.in/assets/uploads/media-uploader/nss1683532914.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.appointment .appointment-form {
    background: rgba(239, 162, 134, 0.3);
}

.appointment .appointment-form .btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.appointment .appointment-form .btn.btn-primary:hover {
    box-shadow: inset 600px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}
/*** Youtube Video start ***/
.video {
    position: relative;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    display: block;
    width: 33px;
    height: 44px;
    border-radius: 50%;
    transition: 0.5s;
    

}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 115px;
    height: 115px;
    background: var(--bs-primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    transition: 0.5s;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--bs-secondary);
    border-radius: 50%;
    transition: all 300ms;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 33px solid var(--bs-white);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    margin-left: 5px;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}
/*** Youtube Video End ***/


/*** Team Start ***/
.team {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.team .team-item {
    flex: 1 1 48%; /* Allow flexibility and ensure two items per row */
    margin-bottom: 20px;
}

.team .team-item .team-img {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.team .team-item .team-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.team .team-item .team-img .team-icon {
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.team .team-item .team-img:hover .team-icon {
    margin-bottom: 145px;
}

.team .team-item:hover .team-img::before {
    background: rgba(21, 185, 217, .3);
}

.team .team-item .team-content {
    color: var(--bs-primary);
    transition: 0.5s;
}

.team .team-item .team-content h5 {
    color: var(--bs-secondary);
    transition: 0.5s;
}

.team .team-item:hover .team-content h5 {
    color: var(--bs-dark);
}

.team .team-item:hover .team-content {
    background: var(--bs-primary);
    color: var(--bs-white);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .team .team-item {
        flex: 1 1 48%; /* Ensure two items per row */
        margin-bottom: 10px;
    }

    .team .team-item .team-img {
        height: 150px; /* Adjust the height as needed */
    }

    .team .team-item .team-content {
        padding: 10px; /* Adjust the padding as needed */
    }
}
/*** Team End ***/


/*** testimonial Start ***/
.new-testimonial {
    background: linear-gradient(rgba(21, 217, 139, 0.9), rgba(21, 185, 217, 0.9)), url(https://ncasp.in/assets/uploads/media-uploader/nss1683532914.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.new-testimonial .testimonial-item .testimonial-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: transparent;
}

.new-testimonial .testimonial-item .testimonial-inner .testimonial-inner-img {
    width: 250px;
    height: 251px;
    border-radius: 50%;
    border: 5px solid var(--bs-white);
}

.new-testimonial .testimonial-carousel.owl-carousel {
    position: relative;
}

.new-testimonial .testimonial-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--bs-light);
    color: var(--bs-primary);
    transition: 0.5s;
}

.new-testimonial .testimonial-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--bs-light);
    color: var(--bs-primary);
    transition: 0.5s;
}


.new-testimonial .testimonial-carousel .owl-nav .owl-prev:hover,
.new-testimonial .testimonial-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0 var(--bs-primary) !important;
    color: var(--bs-white) !important;
}


.new-testimonial-carousel .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.new-testimonial-carousel .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid var(--bs-white);
    background: transparent;
    transition: 0.5s;
}

.new-testimonial-carousel .owl-dots .owl-dot.active {
    width: 20px;
    height: 20px;
    background: var(--bs-secondary) !important;
}

.new-testimonial-carousel .owl-dots .owl-dot span {
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-testimonial-carousel .owl-dots .owl-dot span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bs-white);
}

.new-testimonial .testimonial-carousel .testimonial-item .testimonial-inner p.fs-7 {
    transition: 0.5s;
}

@media (min-width: 900px) {
    .new-testimonial .testimonial-carousel .testimonial-item .testimonial-inner p.fs-7 {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .new-testimonial .testimonial-carousel .owl-nav .owl-prev,
    .new-testimonial .testimonial-carousel .owl-nav .owl-next {
        display: none;
    }
}



/* Testimonial Section Title Start */
.new-testimonial .section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.new-testimonial .section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.new-testimonial .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-white) !important;
}

.new-testimonial .section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-white) !important;
}

.new-testimonial .section-title .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.new-testimonial .section-title .sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-white) !important;
}

.new-testimonial .section-title .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-white) !important;
}
/*** New Testimonial End ***/


/*** testimonial Start ***/
.testimonial {
    background: linear-gradient(rgba(21, 185, 217, 0.9), rgba(21, 185, 217, 0.9)), url(https://ncasp.in/assets/uploads/media-uploader/nss1683532914.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.testimonial .testimonial-item .testimonial-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: transparent;
}

.testimonial .testimonial-item .testimonial-inner .testimonial-inner-img {
    width: 250px;
    height: 251px;
    border-radius: 50%;
    border: 5px solid var(--bs-white);
}

.testimonial .testimonial-carousel.owl-carousel {
    position: relative;
}

.testimonial .testimonial-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--bs-light);
    color: var(--bs-primary);
    transition: 0.5s;
}

.testimonial .testimonial-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--bs-light);
    color: var(--bs-primary);
    transition: 0.5s;
}


.testimonial .testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial .testimonial-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0 var(--bs-primary) !important;
    color: var(--bs-white) !important;
}


@media (max-width: 900px) {
    .testimonial .testimonial-carousel .owl-nav .owl-prev,
    .testimonial .testimonial-carousel .owl-nav .owl-next {
        display: none;
    }
}

.testimonial-carousel .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.testimonial-carousel .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid var(--bs-white);
    background: transparent;
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 20px;
    height: 20px;
    background: var(--bs-secondary) !important;
}

.testimonial-carousel .owl-dots .owl-dot span {
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dots .owl-dot span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bs-white);
}

.testimonial .testimonial-carousel .testimonial-item .testimonial-inner p.fs-7 {
    transition: 0.5s;
}

@media (min-width: 900px) {
    .testimonial .testimonial-carousel .testimonial-item .testimonial-inner p.fs-7 {
        font-size: 20px;
    }
}


/* Testimonial Section Title Start */
.testimonial .section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.testimonial .section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.testimonial .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-white) !important;
}

.testimonial .section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-white) !important;
}

.testimonial .section-title .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.testimonial .section-title .sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-white) !important;
}

.testimonial .section-title .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-white) !important;
}
/*** Testimonial End ***/


/*** Blog Start ***/
.blog .blog-item .blog-img {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.blog .blog-item .blog-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item .blog-img:hover img {
    transform: scale(1.3);
}

.blog .blog-item:hover .blog-img::after {
    background: rgba(21, 185, 217, .5);
}

.blog .blog-item .blog-centent {
    background: var(--bs-light);
    border: 1px solid var(--bs-primary);
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*** Blog End ***/


/*** Contact Start ***/
.contact {
    background: linear-gradient(rgba(21, 185, 217, 0.9), rgba(21, 185, 217, 0.9)), url(https://ncasp.in/assets/uploads/media-uploader/ns1683532914.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.contact .contact-form .btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.contact .contact-form .btn.btn-light:hover {
    box-shadow: inset 600px 0 0 0 var(--bs-primary) !important;
    color: var(--bs-white) !important;
}

.contact .contact-form .form-floating input,
.contact .contact-form .form-floating textarea,
.contact .contact-form .form-floating label {
    color: var(--bs-light);
}



/* Testimonial Section Title Start */
.contact .section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.contact .section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.contact .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.contact .section-title .sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-white) !important;
}
/*** Contact End ***/


/*** Footer Start ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(https://ncasp.in/assets/uploads/media-uploader/nss1683532914.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .footer-item a {
    line-height: 35px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    letter-spacing: 2px;
    color: var(--bs-primary);
}

/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    background: var(--bs-dark) !important;
}
/*** copyright end ***/

/* blood donor*/

.signup-container {
    background-color: #b2effa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.signup-container h2 {
    text-align: center;
    color: #db3434;
}



.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #090000;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%; /* Adjusted width for better responsiveness */
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-group .signup-btn {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto; /* Adjusted width for better responsiveness */
    transition: background-color 0.3s;
}

.form-group #dob + #age {
    margin-top: 10px;
    color: #555555;
}

.form-group #dob + #age {
    margin-top: 10px;
    color: #555555;
}
.signup-form {
    margin-top: 20px;
    width: 80%;
}

/*blood need*/
.content-section {
    margin-top: 20px;
}

.content-section img {
    max-width: 100%;
    height: auto;
}

.content-box {
    background-color: #43a7a7;
    padding: 15px;
    border: 3px solid #dca6d1;
}

/* Add the following styles to your existing CSS */

/* Center the donor information table */
#donorInfoContainer {
text-align: center;
}

/* Style the donor information table */
#donorTable {
margin: 20px auto;
border-collapse: collapse;
width: 80%;
}

#donorTable th, #donorTable td {
padding: 10px;
border: 1px solid #000000;
}

#donorTable th {
background-color: #000000;
color: #000000;
}



.container {
    width: 100%;
    max-width: 1200px;
}

.signup-container {
    background-color: #f8f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .signup-container {
        width: 70%;
    }
}

@media (max-width: 992px) {
    .signup-container {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .signup-container {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .signup-container {
        width: 95%;
    }
}



/* Preserve existing styles */
.signup-container h2 {
    text-align: center;
    color: #db3434;
}

.signup-form {
    margin-top: 20px;
    width: 80%;
}



.form-group input,
.form-group select,
.form-group textarea {
    width: 100%; /* Adjusted width for better responsiveness */
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}
        
         
  
          
  
          
  
          
  
          
  
         
  
  
          
  
          
  
          
